  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-1">
      <h5 class="m-4">会員一覧</h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7 offset-md-1">
      <div class="container">
        <table class="table table-borderless table-sm">
          <thead>
            <tr class="bg-primary text-white">
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @customers.each do |customer| %>
          <tbody>
            <tr class="border-bottom border-primary">
              <td><%= customer.id %></td>
              <td>
                <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name + customer.first_name %>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted == false %>
                  <div class="text-success">有効</div>
                <% else %>
                  <div class="text-danger">退会</div>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>